.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;padding-top:35px;
  padding-bottom:35px;
  margin-top:35px;
  margin-bottom:35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Calend {
  margin-left:350px;
  margin-right:auto;
}

.react-calendar {
  background: #E0DFDF !important;
  border: 1px solid #E0DFDF;
}

tr {
  height:100px;
  border:2px solid black;
}

table {
  width:100%;
  margin-top:75px;
  border:1px solid #E0DFDF;
}

.table-title {
  font-size:38px;
  color: #585858;
  font-weight:bold;
}

.button-time {
  border: none;
  padding: 8px 15px;
  margin-right: 35px;
  margin-left: 35px;
  margin-bottom:70px;
  transition: 0.3s all ease;
}

.button-time:hover {
  transition: 0.3s all ease;
  background-color:#006edc;
  color:white;
}

.button-time:active {
  transition: 0.2s all ease;
  transform: scale(0.95);
}


.react-calendar__navigation__prev2-button {
  display:none;
}
.react-calendar__navigation__prev-button {
  display:none;
}
.react-calendar__navigation__next-button {
  display:none;
}
.react-calendar__navigation__next2-button {
  display:none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
